.App {
  text-align: center;
}

.bottom-bar {
  position: fixed;
  background-color: black;
  height: 25px;
  bottom: 0;
  width: 100%;
  margin: auto;
  color: white;
  line-height: 25px;
}

.header-bar {
  background-color: black;
  height: 25px;
  margin: auto;
  color: white;
  line-height: 25px;
  margin-bottom: 10px;
}
