.header-bar {
  background-color: black;
  height: 40px;
  margin: auto;
  color: white;
  line-height: 40px;
  margin-bottom: 10px;
}

.logo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 1.6em;
  font-weight: 550;
}

.bottom-bar {
  position: fixed;
  background-color: black;
  height: 25px;
  bottom: 0;
  width: 100%;
  margin: auto;
  color: white;
  line-height: 25px;
  text-align: center;
}

.home-grid-container {
  display: grid;
  grid-template-columns: 55% 5% 40%;
  height: 80vh;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.home-list {
  width: 100%;
  padding: 10px;
}

.home-header {
  border-bottom-style: solid;
  border-color: black;
  border-bottom-width: 2px;
  width: 100%;
  padding: 5px;
  font-size: 1.3em;
  font-weight: 550;
}

.home-card {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  font-size: 0.8em;
}

.home-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.statement-home-card {
  height: 75px;
  cursor: pointer;
}

.annotation-home-card {
  height: 40px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: absolute;
  z-index: 10;
}

li {
  float: left;
  padding-left: 10px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.statement-view-content {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 100%;
  padding: 5px;
  font-size: 1.1em;
  overflow-y: scroll;
}

.statement-view-annotations {
  width: 100%;
  padding: 5px;
}

.annotation-view-card {
  max-height: 200px;
  cursor: pointer;
}

.annotation-view-card-highlight {
  background-color: rgb(173, 102, 102);
}

.highlight {
  background-color: rgb(170, 21, 21);
}

.highlight-alt {
  background-color: rgb(173, 102, 102);
}

.annotation-view-expanded {
  position: relative;
  max-height: 200px;
  min-height: 75px;
  overflow-y: scroll;
}

.annotation-view-top-left {
  position: absolute;
  left: 0;
  top: 0;
}

.annotation-view-top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.annotation-view-body {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  line-height: 1.5em;
}

.annotation-view-bottom {
  position: absolute;
  left: 5;
  bottom: 0;
  cursor: pointer;
}

.annotation-view-tags {
  position: absolute;
  right: 0;
  bottom: 0;
}
