/* .header-bar {
  height: 40px;
  width: 900px;
  margin: auto;
  color: black;
  line-height: 40px;
} */

/* .logo {
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  font-size: 1.6em;
  font-weight: 550;
} */

.app {
  width: 100%;
  background-color: rgba(24, 24, 24, 0.144);
  height: 100%px;
}

.app-column {
  width: 900px;
  height: 100%;
  background-color: white;
  margin: auto;
  padding: 20px;
}

.statement-view {
  position: relative;
  display: block;
  width: 65%;
  text-align: justify;
  left: 10%;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.statement {
  display: block;
  position: relative;
  width: 90%;
  font-size: 1.1em;
  line-height: 1.3em;
}

.statement-header {
  display: block;
  position: relative;
  width: 90%;
  font-size: 1.2em;
  font-weight: 600;
  line-height: 1.7em;
  margin-bottom: 0.2em;
}

.statement-rail {
  position: absolute;
  left: 95%;
  top: 0;
}

.anno {
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  left: 0;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.26);
  border-width: 1px;
  cursor: default;
  opacity: 1;
  box-shadow: 0 0 0 1px #d4d4d5, 0 1px 3px 0 #d4d4d5;
  padding: 5px;
  border-radius: 5px;
}

.anno-label {
  z-index: 5;
  width: 50px;
  height: 20px;
  user-select: none;
}

.anno-card {
  z-index: 20;
  width: 200px;
  height: 100px;
  background-color: white;
  user-select: none;
}

.spectrum {
  display: inline-block;
}
/* .home-grid-container {
  display: grid;
  grid-template-columns: 55% 5% 40%;
  height: 80vh;
  width: 100%;
  max-width: 900px;
  margin: auto;
}

.home-list {
  width: 100%;
  padding: 10px;
}

.home-header {
  border-bottom-style: solid;
  border-color: black;
  border-bottom-width: 2px;
  width: 100%;
  padding: 5px;
  font-size: 1.3em;
  font-weight: 550;
}

.home-card {
  width: 100%;
  padding: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: left;
  font-size: 0.8em;
}

.home-card:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.514), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.statement-home-card {
  height: 75px;
  cursor: pointer;
}

.annotation-home-card {
  height: 40px;
  cursor: pointer;
}



.statement-view-content {
  border-style: solid;
  border-color: black;
  border-width: 2px;
  width: 100%;
  padding: 5px;
  font-size: 1.1em;
  overflow-y: scroll;
}

.statement-view-annotations {
  width: 100%;
  padding: 5px;
}

.annotation-view-card {
  max-height: 200px;
  cursor: default;
}

.annotation-view-card-highlight {
  background-color: rgb(173, 102, 102);
}

.annotation-view-expanded {
  position: relative;
  max-height: 200px;
  min-height: 75px;
  overflow-y: scroll;
}

.annotation-view-top-left {
  position: absolute;
  left: 0;
  top: 0;
}

.annotation-view-top-right {
  position: absolute;
  right: 0;
  top: 0;
}

.annotation-view-body {
  margin-top: 1.2em;
  margin-bottom: 1.2em;
  line-height: 1.5em;
}

.annotation-view-bottom {
  position: absolute;
  left: 5;
  bottom: 0;
  cursor: pointer;
}

.annotation-view-tags {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-bottom: 5px;
}

.annotation-tag {
  border-style: solid;
  border-width: 1px;
  border-color: black;
  margin: 5px;
  padding: 2px;
}

.handle-expand {
  display: inline-block;
  padding: 2px;
  background-color: blue;
  border-style: solid;
  border-color: black;
  cursor: pointer;
}

.comment-card {
  margin-left: 15px;
} */
